* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100% !important;
  width: 100%;
  font-size: 10px !important;
  overflow-x: hidden;
}

body {
  padding-top: 56px;
}

.container--brand {
  max-width: 1150px !important;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 0px) and (max-width: 575px) {
  .container--brand {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container--brand {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .padding--brand {
    padding-left: 0;
    padding-right: 0;
  }

  .card-movistar {
    width: 313px;
    height: 325px;
    border-radius: 8px;
    -webkit-box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
}

.header__info {
  height: 70px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(160, 160, 160, 0.1);
  box-shadow: 0 3px 6px 0 rgba(160, 160, 160, 0.1);
  background-color: #ffffff;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1.6rem !important;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
}

@media (min-width: 0px) and (max-width: 575px) {
  .header__info {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__info--brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.header__info--brand img {
  width: 160px;
}

.header__info--items-links {
  height: 35px;
}

.header__info--items-links li a.nav-link {
  font-family: "telefonicaregular";
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #50535a !important;
}

.header__info--items-links li a.nav-link p {
  font-family: "telefonicaregular";
  font-size: 1.3rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #a2a3a3;
}

.header__info--items-links li a.nav-link.active {
  font-family: "telefonicaregular";
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #00a9e0 !important;
}

.header__info--items-links li a.nav-link.active p {
  color: #00a9e0 !important;
}

.header__info--items-call-me {
  height: 35px;
}

.header__info--items-call-me li a.nav-link {
  font-family: "telefonicaregular" !important;
  font-size: 1.3rem !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29 !important;
  letter-spacing: normal;
  color: #50535a !important;
  text-decoration: unset !important;
}

.header__info--items-call-me li a.nav-link p {
  font-family: "telefonicabold" !important;
  font-size: 1.6rem !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #00a9e0 !important;
}

.header__info--offcanvas {
  outline: none;
  background-color: transparent;
  padding: 0;
  border: 0;
  line-height: normal;
  border-radius: unset;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
  cursor: pointer;
  z-index: 10000;
}

.header__info--offcanvas:focus {
  outline: none;
}

@media (max-width: 991.98px) {
  .header__info .offcanvas-collapse {
    position: fixed;
      /* Height of navbar */
    bottom: 0;
    left: 100%;
    top: 0px;
    width: 85%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .header__info .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@font-face {
  font-family: 'telefonicabold';
  src: url("../fonts/telefonica-bold-webfont.woff2") format("woff2"), url("../fonts/telefonica-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicalight';
  src: url("../fonts/telefonica-light-webfont.woff2") format("woff2"), url("../fonts/telefonica-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicaextralight';
  src: url("../fonts/telefonica-extralight-webfont.woff2") format("woff2"), url("../fonts/telefonica-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicaregular';
  src: url("../fonts/telefonica-regular-webfont.woff2") format("woff2"), url("../fonts/telefonica-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicaregular_italic';
  src: url("../fonts/telefonica-regularitalic-webfont.woff2") format("woff2"), url("../fonts/telefonica-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'telefonicahand';
  src: url("../fonts/telefonica-hand-webfont.woff2") format("woff2"), url("../fonts/telefonica-hand-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arialregular';
  src: url("../fonts/arial-webfont.woff2") format("woff2"), url("../fonts/arial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}

.hamburger-box {
  width: 30px;
  height: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  outline: none;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  outline: none;
  width: 100%;
  background-color: #00a9e0;
  border-radius: 4px;
  height: 0.280rem;
  background-color: #00a9e0;
  border-radius: 8px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  outline: none;
}

.hamburger-inner::before, .hamburger-inner::after {
  width: 100%;
  height: 2px;
  background-color: #00a9e0;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  outline: none;
  height: 0.280rem;
  background-color: #00a9e0;
  border-radius: 8px;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
  transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.home {
  position: relative;
  padding-top: 40px;
  background-color: #e8e8e8;
}

.home__info {
  margin-bottom: 45px;
}

.home__info h1 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.home__info p {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
  font-size: 1.6rem;
}

.home__info button {
  color: white;
  border-color: #9cafc3;
  border-width: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background-color: #9cafc3;
}

.home__info button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #9cafc3 !important;
  border-color: #9cafc3 !important;
  background-color: transparent !important;
}

.home__info button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.home__image .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.plataform {
  padding: 80px 0;
  background-color: white;
}

.plataform__info h3 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.plataform__info p {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
  color: #9cafc3;
  font-size: 1.6rem;
}

.plataform__feautures--box--icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9cafc3;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.plataform__feautures--box--info {
  margin: 10px 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.plataform__feautures--box--info h6 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.plataform__feautures--box--info p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #9cafc3;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.about {
  padding: 80px 0;
  background-color: #f3f5f8;
}

.about__info h3 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.about__info p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  color: #9cafc3;
  font-size: 1.6rem;
}

.about__info button {
  color: #9cafc3;
  border-color: #9cafc3;
  border-width: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.about__info button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: white;
  border-color: #9cafc3;
  background-color: #9cafc3;
}

.about__info button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.about__image {
  position: relative;
  width: 100%;
  height: 300px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about__image {
    margin-top: 40px;
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about__image {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about__image {
    margin-top: 40px;
  }
}

.about__image .image {
  position: absolute;
  left: 10px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about__image .image {
    left: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about__image .image {
    left: 5;
  }
}

.about__image .image-child {
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 40%;
  right: 10px;
  background-color: #cacaca;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 0px) and (max-width: 575px) {
  .about__image .image-child {
    right: 0;
    height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .about__image .image-child {
    left: 5;
  }
}

.team {
  padding: 80px 0;
  background-color: #ffffff;
}

.team__info h3 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.team__info p {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
  color: #9cafc3;
  line-height: 1.8;
  font-size: 1.6rem;
}

.team__info .line {
  margin-top: 10px;
  height: 2px;
  width: 120px;
  background-color: #9cafc3;
}

.team__info .author {
  text-align: center;
}

.team__info .author .name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0;
  margin-top: 35px;
}

.team__info .author .position {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 0;
}

.team__info ul {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 35px;
}

.team__info ul li {
  display: inline-block;
}

.team__info ul li a {
  display: block;
}

.team__info ul li .profile {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #222222;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .5;
  margin: 0 10px;
}

.team__info ul li .profile.active {
  opacity: 1;
}

.newsletter {
  padding: 80px 0;
  background-color: #f3f5f8;
}

.newsletter__info h3 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.newsletter__info p {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
  color: #9cafc3;
  font-size: 1.6rem;
}

.newsletter__form form input {
  font-size: 1.6rem;
}

.newsletter__form form button {
  font-size: 1.6rem;
}

.newsletter__form button {
  color: #9cafc3;
  border-color: #9cafc3;
  border-width: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.newsletter__form button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: white;
  border-color: #9cafc3;
  background-color: #9cafc3;
}

.newsletter__form button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* ===== Settings Slick ====== */
.slider-main__box--items {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.slider-main__box--items .slick-prev {
  left: 25px !important;
  z-index: 2;
}

.slider-main__box--items .slick-prev:before {
  font-family: "FontAwesome";
  font-size: 2.5rem;
  color: #00a9e0;
  content: "\f053";
}

.slider-main__box--items .slick-arrow.slick-disabled {
  display: none !important;
}

.slider-main__box--items .slick-next {
  right: 25px !important;
  z-index: 2;
}

.slider-main__box--items .slick-next:before {
  font-family: "FontAwesome";
  font-size: 2.5rem;
  color: #00a9e0;
  content: "\f054";
}

.slider-main__box--items .slick-dots {
  bottom: 0px;
  z-index: 2;
  background: #00000000;
}

.slider-main__box--items .slick-dots .slick-active button:before {
  width: 24px;
  margin: 0;
  opacity: 1 !important;
  width: 32px;
  height: 8px;
  border-radius: 15px;
  background-color: #d3d4d3;
  margin-left: -8px !important;
  background: #00a9e0 !important;
}

.slider-main__box--items .slick-dots li {
  margin: 0 8px;
  height: 8px;
  vertical-align: middle;
}

.slider-main__box--items .slick-dots li button {
  height: auto;
}

.slider-main__box--items .slick-dots li button:before {
  color: #ffffff;
  font-size: 10px;
  content: "";
  height: 8px;
  width: 16px;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: #d3d4d3;
}

.slider-main__box--items .slick-dots li button:hover:before, .slider-main__box--items .slick-dots li button:focus:before {
  color: #00a9e0;
}

.slider-main__box--items .slick-slide {
  height: 480px !important;
  -o-object-fit: contain;
  object-fit: contain;
}

.slider-main__box--items .slick-slide img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slider-main__box--items .slick-slide .mask-item {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.slider-main__box--items .slick-slide .mask-item h1 {
  color: white;
}

.slider-main__box--items .slick-slide .banner-info {
  height: 100%;
  width: 100%;
}

.slider-main__box--items .slick-slide .banner-info h1 {
  color: white;
  font-family: "telefonicabold";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 575px) {
  .slider-main__box--items .slick-slide .banner-info h1 {
    font-size: 1rem;
    color: pink;
  }
}

.contact {
  padding: 80px 0;
  background-color: #ffffff;
}

.contact__info h3 {
  font-family: "Roboto", sans-serif;
  color: #9cafc3;
}

.contact__info p {
  font-family: "Open Sans", sans-serif;
  padding: 40px 0;
  color: #9cafc3;
  font-size: 1.6rem;
}

.contact__form .card {
  background-color: #f3f5f8;
}

.contact__form .card .card-body form input {
  font-size: 1.6rem;
}

.contact__form .card .card-body form button {
  font-size: 1.6rem;
}

.contact__form button {
  color: #9cafc3;
  border-color: #9cafc3;
  border-width: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact__form button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: white;
  border-color: #9cafc3;
  background-color: #9cafc3;
}

.contact__form button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

@media (min-width: 0px) and (max-width: 575px) {
  .portability {
    height: auto;
    padding-bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .portability {
    height: auto;
    padding-bottom: 0;
  }
}

.portability__box {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.material-textfield {
  position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  pointer-events: none;
}

input {
  font-size: 1rem;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: gray;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

input:focus {
  border-color: #6200EE;
}

input:focus + label {
  color: #6200EE;
  top: 0;
  -webkit-transform: translateY(-50%) scale(0.9);
  transform: translateY(-50%) scale(0.9);
}

input:not(:placeholder-shown) + label {
  top: 0;
  -webkit-transform: translateY(-50%) scale(0.9);
  transform: translateY(-50%) scale(0.9);
}

#btn-back-to-top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btn-back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#btn-back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#btn-back-to-top:active {
  background-color: #555;
}

#btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

.desktopo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  right: -185px;
  cursor: pointer;
  bottom: 100px;
  width: 245px;
  background-color: #48a910;
  padding: 5px 8px;
  -webkit-box-shadow: 1px 3px 10px -4px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 3px 10px -4px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: 1px solid #41990f;
  z-index: 3331;
}

.desktopo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.desktopo_animated {
  right: -15px;
}

.desktopo:hover {
  right: -15px;
}

.desktopo .desktopo_box:first-child {
  float: left;
  width: 25%;
}

.desktopo .desktopo_box:last-child {
  float: left;
  width: 75%;
}

.desktopo_pulse {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.desktopo_pulse:hover {
  -webkit-animation: none;
  animation: none;
}

.desktopo h3.desktopo_title {
  font-family: "telefonicabold";
  font-size: 16px;
  color: #fff;
  margin: 0 0 4px;
}

.desktopo p.desktopo_text {
  font-family: "telefonicalight";
  line-height: .5;
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.mobtopo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0 5px 10px;
}

.mobtopo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobtopo::before {
  content: '';
  height: 20px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: -10px;
  left: 0;
  border-top-left-radius: 100% 20px;
  border-top-right-radius: 100% 20px;
  -webkit-box-shadow: 0 -7px 7px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -7px 7px -7px rgba(0, 0, 0, 0.3);
}

.mobtopo .mobtopo_box {
  width: 33.3%;
  float: left;
  text-align: center;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
}

.mobtopo .mobtopo_box a {
  text-decoration: none;
}

.mobtopo .mobtopo_box a:focus,
.mobtopo .mobtopo_box a:hover {
  text-decoration: none;
}

.mobtopo .mobtopo_box::after {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: calc(100% + 8px);
  top: -5px;
  right: 3px;
}

.mobtopo .mobtopo_box:last-child::after {
  content: none;
}

.mobtopo p.mobtopo_text {
  font-size: 11px;
  font-family: Telefonica_Bold, TelefonicaWeb-Bold, arial;
  color: #797979;
  margin: 0;
  margin-top: 3px;
}

.movistar-modal {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000001;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow-y: auto;
}

.movistar-modal * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.movistar-modal form.movistar-modal_form {
  width: 60%;
  margin: auto;
  text-align: center;
}

.movistar-modal .movistar-modal_form input {
  font-size: 18px;
  font-family: Telefonica_Light, TelefonicaWeb-Light, Arial;
  width: 100%;
  height: 60px;
  text-align: center;
  margin-bottom: 15px;
  padding: 15px 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  opacity: 1;
  z-index: auto;
}

.movistar-modal .movistar-modal_form input[type=text] {
  font-size: 18px;
}

.movistar-modal .movistar-modal_form input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.movistar-modal .movistar-modal_form input::-webkit-input-placeholder {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form input::-moz-placeholder {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form input:-ms-input-placeholder {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form input::-ms-input-placeholder {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form input::placeholder {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form button {
  font: 22px Telefonica_Light, TelefonicaWeb-Light, Arial;
  width: 100%;
  list-style: none;
  display: block;
  background-color: #5ac2ff !important;
  padding: 20px;
  border-radius: 3px;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin-bottom: 20px;
}

.movistar-modal form.movistar-modal_formlater {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.movistar-modal .movistar-modal_formlater_column {
  width: calc(50% - 10px);
}

.movistar-modal .movistar-modal_later {
  font: 16px Telefonica_Light, TelefonicaWeb-Light, Arial;
  border: 0;
  background-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.movistar-modal .movistar-modal_later:hover {
  color: #989ca0 !important;
  text-decoration: underline !important;
}

.movistar-modal .movistar-modal_seccion {
  text-align: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  padding: 35px 50px;
  width: 100%;
  max-width: 750px;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.movistar-modal .movistar-modal_seccion .loader-spinner {
  display: inline-block;
  margin-bottom: 15px;
}

.movistar-modal .movistar-modal_seccion .loader-spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #00a9e0;
  border-color: #00a9e0 transparent #00a9e0 transparent;
  -webkit-animation: loader-spinner 1.2s linear infinite;
  animation: loader-spinner 1.2s linear infinite;
}

.movistar-modal .movistar-modal_close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  z-index: 9;
  cursor: pointer;
  opacity: .6;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.movistar-modal .movistar-modal_close .close-icon {
  height: 32px;
  width: 32px;
  border-radius: 14px;
  border: 2px solid #000;
  position: relative;
}

.movistar-modal .movistar-modal_close .close-icon::after,
.movistar-modal .movistar-modal_close .close-icon::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000;
  left: calc(50% - 10px);
  top: 13px;
}

.movistar-modal .movistar-modal_close .close-icon::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.movistar-modal .movistar-modal_close .close-icon::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.movistar-modal .movistar-modal_close:hover {
  opacity: 1;
}

.movistar-modal .movistar-modal_header {
  text-align: center;
}

.movistar-modal .movistar-modal_header h2 {
  font: 32px Telefonica_Light, TelefonicaWeb-Light, Arial;
  color: #1d1d1d;
  margin-bottom: 15px;
}

.movistar-modal .movistar-modal_header p {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
  color: #000;
  text-transform: none;
  margin-bottom: 15px;
}

.movistar-modal .movistar-modal_body {
  text-align: center;
}

.movistar-modal .movistar-modal_slideDown {
  margin-top: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.movistar-modal .movistar-modal_list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.movistar-modal .movistar-modal_list li {
  margin: 5px;
}

.movistar-modal .movistar-modal_imglist {
  max-width: 40px;
  width: 100%;
  margin-right: 15px;
  height: 40px;
}

.movistar-modal .movistar-modal_button {
  cursor: pointer;
  font: 25px Telefonica_Light, TelefonicaWeb-Light, Arial;
  background-color: #5ac2ff !important;
  padding: 15px 50px;
  border-radius: 4px;
  color: #fff;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.movistar-modal_hidden {
  visibility: hidden;
  opacity: 0;
}

span.error {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 13px Telefonica, TelefonicaWeb, Arial;
  color: red;
  float: left;
  margin-top: -10px;
  margin-bottom: 5px;
}

@media all and (max-width: 768px) {
  .desktopo {
    bottom: 100px;
  }

  .movistar-modal {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
  }

  .movistar-modal .movistar-modal_seccion {
    padding: 15px;
  }

  .movistar-modal .movistar-modal_header h2 {
    font: 22px Telefonica_Light, TelefonicaWeb-Light, Arial;
  }

  .movistar-modal .movistar-modal_header p {
    font: 14px Telefonica_Light, TelefonicaWeb-Light, Arial;
    margin-bottom: 10px;
  }

  .movistar-modal .movistar-modal_button {
    padding: 15px;
    font-size: 18px;
    width: 100%;
  }

  .movistar-modal .movistar-modal_form button {
    font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
    margin-bottom: 10px;
    padding: 15px;
  }

  .movistar-modal .movistar-modal_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .movistar-modal .movistar-modal_imglist {
    max-width: 30px;
  }

  .movistar-modal .movistar-modal_form {
    width: 100%;
  }

  .movistar-modal .movistar-modal_formlater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .movistar-modal .movistar-modal_formlater_column {
    width: 100%;
  }
}

.inputCalendar {
  cursor: pointer;
}

#btn-nocturnoDropdownHorario {
  cursor: pointer;
}

.movistar-dropdown {
  position: relative;
}

.movistar-dropdown-menu {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 0;
  margin: -15px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
}

.movistar-dropdown-menu li {
  font-family: Telefonica, TelefonicaWeb, Arial;
  text-align: center;
  padding: 5px 20px;
  color: #333;
}

.movistar-dropdown-menu li:hover {
  background-color: #989ca0;
  background-size: cover;
  color: #f6f7f9;
}

.movistar-dropdown_on {
  display: block;
}

.movistar-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 30px;
  top: 30px;
}

.movistar-modal_render {
  display: block !important;
}

#atentionDate,
#todayDate {
  font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc;
  background-color: #fff;
  color: #7d7d7d;
}

.movistar-modal select:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}

.movistar-modal select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 5px bottom 50%;
  background-repeat: no-repeat;
  background-image: url(../img/topo/icon-arrow.svg);
  background-size: 15px;
}

@media all and (max-width: 768px) {
  .desktopo_out {
    display: none;
  }

  .mobtopo {
    display: block;
  }

  .movistar-modal {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 5px;
  }

  .movistar-modal .movistar-modal_seccion {
    padding: 15px;
  }

  .movistar-modal .movistar-modal_header h2 {
    font: 22px Telefonica_Light, TelefonicaWeb-Light;
  }

  .movistar-modal .movistar-modal_header p {
    font: 14px Telefonica_Light, TelefonicaWeb-Light;
    margin-bottom: 10px;
  }

  .movistar-modal .movistar-modal_button {
    padding: 15px;
    font-size: 18px;
    width: 100%;
  }

  .movistar-modal .movistar-modal_form button {
    font: 18px Telefonica_Light, TelefonicaWeb-Light;
    margin-bottom: 10px;
    padding: 15px;
  }

  .movistar-modal .movistar-modal_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .movistar-modal .movistar-modal_imglist {
    max-width: 30px;
    height: 30px;
  }

  .movistar-modal .movistar-modal_form {
    width: 100%;
  }

  .movistar-modal .movistar-modal_formlater {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .movistar-modal .movistar-modal_formlater_column {
    width: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(72, 169, 16, 0.8);
    box-shadow: 0 0 0 0 rgba(72, 169, 16, 0.8);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(72, 169, 16, 0);
    box-shadow: 0 0 0 10px rgba(72, 169, 16, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(72, 169, 16, 0);
    box-shadow: 0 0 0 0 rgba(72, 169, 16, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(72, 169, 16, 0.8);
    box-shadow: 0 0 0 0 rgba(72, 169, 16, 0.8);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(72, 169, 16, 0);
    box-shadow: 0 0 0 10px rgba(72, 169, 16, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(72, 169, 16, 0);
    box-shadow: 0 0 0 0 rgba(72, 169, 16, 0);
  }
}

@-webkit-keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pack {
  height: 200px;
  background-color: #003245;
  padding-bottom: 20px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .pack {
    height: auto;
    padding-bottom: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pack {
    height: auto;
    padding-bottom: 0;
  }
}

.pack__box--icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 28px;
}

.pack__box--icon img {
  width: 38px;
}

.pack__box--info .title p {
  font-family: "telefonicabold";
  font-size: 1.8rem;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.pack__box--info .description {
  height: 80px;
  margin-top: 10px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .pack__box--info .description {
    height: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pack__box--info .description {
    height: auto;
  }
}

.pack__box--info .description p {
  font-family: "telefonicaregular";
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer {
  position: relative;
  background-color: #003245;
  height: 60px;
  background-color: #e9eae8;
}

.footer__brand-movistar a img {
  width: 140px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer__brand-movistar a img {
    width: 120px !important;
  }
}

.footer__brand-telefonica a img {
  width: 180px;
}

@media (min-width: 0px) and (max-width: 575px) {
  .footer__brand-telefonica a img {
    width: 140px !important;
  }
}
