%footer.footer.mt-auto 
  .container.container--brand.h-100
    .row.no-gutters.h-100.align-items-center 
      .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.mb-2.mb-sm-0
        .footer__brand-movistar
          %a.stretched-link{:href => "https://ww2.movistar.cl/"}
            %img.img-fluid.d-block.float-left{:alt => "", :src => "assets/img/brand/imagotype/imagotype_movistar.svg"}/ 
      .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6
        .footer__brand-telefonica
          %a.stretched-link{:href => "https://ww2.movistar.cl/"}
            %img.img-fluid.d-block.float-right{:alt => "", :src => "assets/img/brand/imagotype/imagotype_telefonica.svg"}/


 