%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
%title Landing Page - Movistar CL 
%link{:href => "assets/img/brand/favicon/apple-touch-icon.png  ", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "assets/img/brand/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "assets/img/brand/favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}
%link{rel: "stylesheet", href:"assets/css/slick.css"}
%link{rel: "stylesheet", href:"assets/css/slick-theme.css"}
%link{rel: "stylesheet", href:"assets/css/font-awesome.min.css"}
- test = rand(1...100)
%link{rel: "stylesheet", href:"assets/css/styles.css?#{test}"}



