%header.header
  %nav#navbar.navbar.navbar-expand-lg.navbar-dark.fixed-top.header__info
    .container.container--brand
      %a.navbar-brand.header__info--brand{:href => "#"}
        %img.d-inline-block.align-top{:alt => "", :src => "assets/img/movistar.svg"}/
      %button#js-btn-burger.navbar-toggler.p-0.border-0.header__info--offcanvas{"data-toggle" => "offcanvas", :type => "button"}
        #squeeze.hamburger.hamburger--squeeze
          .hamburger-box
            .hamburger-inner
      #js-menu-offcanvas.navbar-collapse.offcanvas-collapse.header__info--items
        %ul.navbar-nav.ml-auto.header__info--items-links
          %li.nav-item
            %a.nav-link.pl-0.pb-0.pt-0.fixed-link.active{href: "#home"} 
              Home  
              %br/
              %p.mb-0 Multioferta móvil    
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#plataform"} 
              Samsung
              %br/
              %p.mb-0 Plan + equipo
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#about"} 
              iPhone
              %br/
              %p.mb-0 Plan + equipo
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#team"} 
              Huawei
              %br/
              %p.mb-0 Plan + equipo
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#contact"} 
              Movistar One
              %br/
              %p.mb-0 Plan + equipo
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#contact2"} 
              Pago con tarjeta
              %br/
              %p.mb-0 Couta sin interés
          %li.nav-item
            %a.nav-link.pb-0.pt-0{href: "#contact3"} 
              Móvil
              %br/
              %p.mb-0 Planes sin equipo
          -#%li.nav-item
            %a.nav-link.link-login{href: "#"} Paga
        %ul.navbar-nav.header__info--items-call-me.d-none.d-lg-flex
          %li.nav-item
            %a.nav-link.pr-0.pb-0.pt-0{:href => "tel:+56800760760"}
              Contrata llamando gratis 
              %br/
              %p.mb-0.text-sm-left.text-lg-right 800 760 760 
        -#%ul.navbar-nav.offcanvas-collapse.header__info--items-call-me00
          %li.nav-item
            %a.nav-link{:href => "tel:+56800760760"}
              Contrata llamando gratis 
              %br/
              %p 800 760 760   


        -#.header__info--call-me.my-2.my-lg-0
           
          %.anav-link.fixed-link.active
            %p 800 760 760

          





-#%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
  %a.navbar-brand.mr-auto.mr-lg-0{:href => "#"} Offcanvas navbar
  -#%button.navbar-toggler.p-0.border-0#js-btn-burger{"data-toggle" => "offcanvas", :type => "button"}
    %span.navbar-toggler-icon


  -##js-btn-burger.navbar-toggler.header__info--offcanvas{"data-toggle" => "offcanvas", :type => "button"}
  %button#js-btn-burger.navbar-toggler.p-0.border-0#js-btn-burger{"data-toggle" => "offcanvas", :type => "button"}
    #squeeze.hamburger.hamburger--squeeze
      .hamburger-box
        .hamburger-inner



  #js-menu-offcanvas.navbar-collapse.offcanvas-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Dashboard
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Notifications
      %li.nav-item
        %a.nav-link{:href => "#"} Profile
      %li.nav-item
        %a.nav-link{:href => "#"} Switch account
      %li.nav-item.dropdown
        %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"} Settings
        .dropdown-menu{"aria-labelledby" => "dropdown01"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          %a.dropdown-item{:href => "#"} Something else here
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
