%section.portability#portability
  .container.container--brand.h-100
    .row.no-gutters
      .col-12
        .portability__box
         
      -#.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
        .pack__box.d-flex.flex-md-row
          .pack__box--icon
            %img.img-fluid{:alt => "", :src => "assets/img/brand/icons/optical-fiber.svg"}/
          .pack__box--info
            .title
              %p.title.mb-0 
                Internet
                %br/
                Fibra Óptica
            .description
              %p.mb-0 Movistar llega directo a tu hogar, no se satura en horarios punta y la velocidad no se comparte con tus vecinos, permitiéndote navegar a mayor velocidad que otras tecnologías de Internet.
      -#.col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4.mt-4.mt-md-0.mb-4.mt-md-0.mb-md-0
        .pack__box.d-flex.flex-md-row
          .pack__box--icon
            %img.img-fluid{:alt => "", :src => "assets/img/brand/icons/connectivity.svg"}
          .pack__box--info
            .title
              %p.mb-0 
                Conectividad
                %br/ 
                Total
            .description
              %p.mb-0 Elige cómo y dónde y  navega a toda  velocidad en todos  tus dispositivos.