%script{:src => "assets/js/jquery-3.4.1.min.js"}
%script{:src => "assets/js/popper.min.js"}
%script{:src => "assets/js/bootstrap.min.js"}
%script{:src => "assets/js/slick.min.js"}
%script{:src => "assets/js/hammer.min.js"}
%script{:src => "assets/js/settings.js"}

