%section.slider-main
	.slider-main__box
		.slider-main__box--items
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
			.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.mask-item
					-#.container.container--brand
						.row
							.col-lg-6.padding--brand
								-#.banner-info
								%h1 Texto #1 
							.col-lg-6.padding--brand
								.card-movistar
			-#.item
				%img.img-responsive{:src => "assets/img/slider_main/slider.jpg"}/
				.container
					%h1 Hola
				-#.mask-item
					.banner-info
						%h1 Texto #2
-# .hola1
-# .hola2
-# .hola3
-# .hola1
-# .hola2
-# .hola3
-# .hola1
-# .hola2
-# .hola3
-# .hola1
-# .hola2
-# .hola3
-# .hola1
-# .hola2
-# .hola3
-# .hola1
-# .hola2
-# .hola3