!!!
%html{lang: "en"}
  %head
    = Haml::Engine.new(File.read('src/partials/_head.haml')).render 
  %body#js-swipe-zone.d-flex.flex-column.h-100{"data-offset" => "58", "data-spy" => "scroll", "data-target" => ".navbar"}
    = Haml::Engine.new(File.read('src/partials/_header.haml')).render
    %main.flex-shrink-0
      = Haml::Engine.new(File.read('src/partials/_slider-main.haml')).render
      .mt-5.mb-5
      -#= Haml::Engine.new(File.read('src/partials/_home.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_plataform.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_about.haml')).render
      -#= Haml::Engine.new(File.read('src/partials/_team.haml')).render
      .mt-5.mb-5
      = Haml::Engine.new(File.read('src/partials/_portability.haml')).render
      .mt-5.mb-5
      -#= Haml::Engine.new(File.read('src/partials/_input.haml')).render
      
      = Haml::Engine.new(File.read('src/partials/_pack.haml')).render
      = Haml::Engine.new(File.read('src/partials/_whatsapp-fixed.haml')).render
      = Haml::Engine.new(File.read('src/partials/_button-to-top.haml')).render
    = Haml::Engine.new(File.read('src/partials/_footer.haml')).render
    = Haml::Engine.new(File.read('src/partials/_scripts.haml')).render