//footer
.footer {
  position: relative;
  background-color: $azul-footer;
  height: 60px;
  background-color: $gris-escala-4;

  &__brand-movistar {
    a {
      img {
        width: 140px;

        @include respond-to(xs) {
          width: 120px !important;
        }
      }
    }
  }

  &__brand-telefonica {
    a {
      img {
        width: 180px;

        @include respond-to(xs) {
          width: 140px !important;
        }
      }
    }
  }
}