.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;
}

.hamburger-box {
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    outline: none;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    outline: none;
    width: 100%;

    //height: 2px;
    background-color: #00a9e0;
    border-radius: 4px;
    height: 0.280rem;
    background-color: #00a9e0;
    border-radius: 8px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    outline: none;

    &::before,
    &::after {
        width: 100%;
        height: 2px;
        background-color: #00a9e0;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
        outline: none;
        height: 0.280rem;
        background-color: #00a9e0;
        border-radius: 8px;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: -10px;
    }

    &::after {
        bottom: -10px;
    }
}

.hamburger--squeeze {
    .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }

        &::after {
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    &.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
            top: 0;
            opacity: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
        }

        &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}