//header
.header {
  &__info {
    height: 70px;
    box-shadow: 0 3px 6px 0 rgba(160, 160, 160, 0.1);
    background-color: #ffffff;
    align-items: flex-start;
    padding-top: 1.6rem !important;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;

    @include respond-to(xs) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &--brand {
      //background-color: red;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;

      img {
        width: 160px;
      }
    }

    &--items {
      &-links {
        height: 35px;

        // background: red;
        li {
          a.nav-link {
            // font-family: $font-primary;
            // color: $color-item-header !important;
            // font-weight: 500;
            // font-size: 0.938rem;
            font-family: $font-primary-teleregular;
            font-size: 1.6rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: $gris-escala-1 !important;

            p {
              font-family: $font-primary-teleregular;
              font-size: 1.3rem;
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: 1;
              letter-spacing: normal;
              color: $gris-escala-2;
            }
          }

          a.nav-link.active {
            font-family: $font-primary-teleregular;
            font-size: 1.6rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: $azul-principal !important;

            p {
              color: $azul-principal !important;
            }
          }
        }
      }

      &-call-me {
        height: 35px;

        // background: pink;
        li {
          a.nav-link {
            font-family: $font-primary-teleregular !important;
            font-size: 1.3rem !important;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29 !important;
            letter-spacing: normal;
            color: $gris-escala-1 !important;
            text-decoration: unset !important;

            p {
              font-family: $font-primary-telebold !important;
              font-size: 1.6rem !important;
              font-weight: bold !important;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.25;
              letter-spacing: normal;
              color: $azul-principal !important;
            }
          }
        }
      }
    }

    &--offcanvas {
      outline: none;
      background-color: transparent;
      padding: 0;
      border: 0;
      line-height: normal;
      border-radius: unset;
      appearance: unset;
      cursor: pointer;
      z-index: 10000;

      &:focus {
        outline: none;
      }
    }

    @media (max-width: 991.98px) {
      .offcanvas-collapse {
        position: fixed;
        // top: 57px;
        // top: 48px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        //width: 100%;
        top: 0px;
        width: 85%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;

        &.open {
          visibility: visible;
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
    }
  }
}