//footer
.pack {
  height: 200px;
  background-color: $azul-footer;
  padding-bottom: 20px;

  @include respond-to(xs) {
    height: auto;
    padding-bottom: 0;
  }

  @include respond-to(sm) {
    height: auto;
    padding-bottom: 0;
  }

  &__box {

    &--icon {
      flex-shrink: 0;
      margin-right: 28px;

      img {
        width: 38px;
      }

    }

    &--info {
      .title {
        p {
          font-family: $font-primary-telebold;
          font-size: 1.8rem;
          line-height: 1.28;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }

      .description {
        height: 80px;
        margin-top: 10px;

        @include respond-to(xs) {
          height: auto;
          margin-bottom: 10px;
        }

        @include respond-to(sm) {
          height: auto;
        }

        p {
          font-family: $font-primary-teleregular;
          font-size: 1.6rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
      }
    }

  }
}
