//portability
.portability {


  @include respond-to(xs) {
    height: auto;
    padding-bottom: 0;
  }

  @include respond-to(sm) {
    height: auto;
    padding-bottom: 0;
  }

  &__box {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;



  }
}