/* ===== Settings Slick ====== */
.slider-main {
  &__box {
    &--items {
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .slick-prev {
        left: 25px !important;
        z-index: 2;

        &:before {
          //new arrow
          font-family: $arrow-font;
          font-size: $arrow-size;
          color: $arrow-color;
          content: "\f053";
          //new arrow
        }
      }

      .slick-arrow.slick-disabled {
        display: none !important;
      }

      .slick-next {
        right: 25px !important;
        z-index: 2;

        &:before {
          //new arrow
          font-family: $arrow-font;
          font-size: $arrow-size;
          color: $arrow-color;
          content: "\f054";
          //new arrow
        }
      }

      .slick-dots {
        bottom: 0px;
        z-index: 2;
        background: #00000000;

        // display: flex;
        // justify-content: center;
        // width: 100%;
        // position: absolute;

        .slick-active {
          button {


            &:before {
              //color: $dots-color-active;
              //opacity: 0.75;

              //new lines
              //width: 35px;
              width: 24px;
              margin: 0;
              opacity: 1 !important;


              width: 32px;
              height: 8px;
              border-radius: 15px;
              background-color: #d3d4d3;

              //margin-left: -12px !important;
              margin-left: -8px !important;
              background: $dots-color-active !important;
            }
          }
        }

        li {
          margin: 0 8px;
          height: 8px;
          vertical-align: middle;

          button {
            height: auto;

            &:before {
              color: $dots-color;
              font-size: $dots-size;

              //new lines
              content: "";
              height: 8px;
              width: 16px;
              display: inline-block;
              border-radius: 15px;
              cursor: pointer;
              transition: all 300ms ease;



              background-color: #d3d4d3;

            }

            &:hover:before,
            &:focus:before {
              color: $dots-color-active;
            }
          }
        }
      }

      .slick-slide {
        height: 480px !important;
        object-fit: contain;

        img {
          width: 100%;
          margin: 0;
          padding: 0;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .mask-item {
          //background: hsla(0, 0%, 0%, 0.7);
          background: rgba(0, 0, 0, 0);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;

          h1 {
            color: white;
          }
        }

        .banner-info {
          height: 100%;
          width: 100%;

          h1 {
            color: white;

            // font-size: 5rem;
            font-family: $font-primary-telebold;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;

            @include respond-to(xs) {
              font-size: 1rem;
              color: pink;
            }
          }
        }
      }
    }
  }
}