//settings
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100% !important;
  width: 100%;
  font-size: 10px !important;
  //text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 56px;
}

.container--brand {
  max-width: $container-width !important;
  padding-left: 0;
  padding-right: 0;

  // max-width: 0000px;
  // margin: 0px auto;
  // padding: 0px 1em;
  @include respond-to(xs) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  @include respond-to(sm) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@include respond-to(xl) {


  .padding--brand {
    padding-left: 0;
    padding-right: 0;
  }

  .card-movistar {
    width: 313px;
    height: 325px;
    border-radius: 8px;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
  }
}