//breakpoints for bootstrap version 4.1.3
$breakpoints: ("xs": "(min-width: 0px) and (max-width: 575px)",
    "sm": "(min-width: 576px) and (max-width: 767px)",
    "md": "(min-width: 768px) and (max-width: 991px)",
    "lg": "(min-width: 992px) and (max-width: 1199px)",
    "xl": "(min-width: 1200px) and (max-width: 1920px)"
) !default;

//breakpoints for bootstrap v3.3.7
// $breakpoints: (
//   'xs': "(min-width: 0px) and (max-width: 767px)",
//   'sm': "(min-width: 768px) and (max-width: 991px)",
//   'md': "(min-width: 992px) and (max-width: 1199px)",
//   'lg': "(min-width: 1200px) and (max-width: 1600px)",
//   'xl': "(min-width: 1601px) and (max-width: 2048px)",
// ) !default;


//brand movistar

//brand colors
$azul-principal: #00a9e0;
$verde-principal: #5bc500;
$naranjo-secundario: #f59c00;
$purpura-secundario: #954b97;
$fondo-advertencias: #fff9cb;
$naranjo-secundario: #ec6839;
$magenta-secundario: #e9426d;
$fondo: #f0fbff;
$gris-escala-1: #50535a;
$error: #ff0000;
$gris-escala-5: #f7f7f7;
$gris-escala-2: #a2a3a3;
$gris-escala-3: #d5d6d4;
$azul-footer: #003245;
$gris-escala-4: #e9eae8;
$error-hover: #e22121;




//Fonts
$font-primary: "Roboto",
sans-serif;
$font-secondary: "Open Sans",
sans-serif;


//primary fonts
$font-primary-telebold: "telefonicabold";
$font-primary-telelight: "telefonicalight";
$font-primary-teleextralight: "telefonicaextralight";
$font-primary-teleregular: "telefonicaregular";
$font-primary-teleregular-italic: "telefonicaregular_italic";

//secondary fonts
$font-secondary-arial: "arialregular";
$font-secondary-telehand: "telefonicahand";

//primary palette
$pantone-2995: rgb(0, 169, 224);
$pantone-2287: rgb(91, 197, 0);

//secondary palette
$pantone-258: rgb(149, 75, 151);
$pantone-710: rgb(233, 66, 109);
$pantone-7416: rgb(236, 104, 57);

//gray palette
$pantone-cool-gray-1: rgb(233, 234, 232);
$pantone-cool-gray-3: rgb(211, 212, 211);
$pantone-cool-gray-5: rgb(182, 183, 183);
$pantone-cool-gray-8: rgb(134, 136, 140);
$pantone-cool-gray-10: rgb(80, 83, 90);

$bg-header: #ffffff;

//Background Section
$bg-color-home: #e8e8e8;
$bg-color-header: #323b43;
$bg-color-about: #f3f5f8;
$bg-color-team: #ffffff;
$bg-color-newsletter: #f3f5f8;
$bg-color-contact: #ffffff;
$bg-color-footer: #323b43;

//Background Form
$bg-form-contact: #f3f5f8;

//Title General
$color-item-header: #dbe0e3;
$color-title: #9cafc3;
$color-button: #9cafc3;
$color-border-button: #9cafc3;
$fontSize: 10px;
$coloruno: #ed1c24;
$colordos: #f7941d;
$colortres: #663399;
$success: #28a745;

//Setting - Slick 
$arrow-font: "FontAwesome";
$arrow-color: rgb(0, 169, 224);
$arrow-size: 2.5rem;

$dots-color: #ffffff;
$dots-color-active: rgb(0, 169, 224);
$dots-size: 10px;

$fontSize: 10px;
//$fontSize: 1rem;
$container-width: 1150px;