.desktopo {
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    right: -185px;
    cursor: pointer;
    bottom: 100px;
    width: 245px;
    background-color: #48a910;
    padding: 5px 8px;
    box-shadow: 1px 3px 10px -4px rgba(0, 0, 0, 0.6);
    transition: .3s ease-in-out;
    border: 1px solid #41990f;
    z-index: 3331;
}

.desktopo * {
    box-sizing: border-box;
}

.desktopo_animated {
    right: -15px;
}

.desktopo:hover {
    right: -15px;
}

.desktopo .desktopo_box:first-child {
    float: left;
    width: 25%;
}

.desktopo .desktopo_box:last-child {
    float: left;
    width: 75%;
}

.desktopo_pulse {
    animation: pulse 2s infinite;
}

.desktopo_pulse:hover {
    animation: none;
}

.desktopo h3.desktopo_title {
    font-family: $font-primary-telebold;
    font-size: 16px;
    color: #fff;
    margin: 0 0 4px;
}

.desktopo p.desktopo_text {
    font-family: $font-primary-telelight;
    line-height: .5;
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.mobtopo {
    box-sizing: border-box;
    display: none;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0 5px 10px;
}

.mobtopo * {
    box-sizing: border-box;
}

.mobtopo::before {
    content: '';
    height: 20px;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 0;
    border-top-left-radius: 100% 20px;
    border-top-right-radius: 100% 20px;
    box-shadow: 0 -7px 7px -7px rgba(0, 0, 0, 0.3);
}

.mobtopo .mobtopo_box {
    width: 33.3%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
}

.mobtopo .mobtopo_box a {
    text-decoration: none;
}

.mobtopo .mobtopo_box a:focus,
.mobtopo .mobtopo_box a:hover {
    text-decoration: none;
}

.mobtopo .mobtopo_box::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: calc(100% + 8px);
    top: -5px;
    right: 3px;
}

.mobtopo .mobtopo_box:last-child::after {
    content: none;
}

.mobtopo p.mobtopo_text {
    font-size: 11px;
    font-family: Telefonica_Bold, TelefonicaWeb-Bold, arial;
    color: #797979;
    margin: 0;
    margin-top: 3px;
}

.movistar-modal {
    box-sizing: border-box;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000001;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    overflow-y: auto;
}

.movistar-modal * {
    box-sizing: border-box;
}

.movistar-modal form.movistar-modal_form {
    width: 60%;
    margin: auto;
    text-align: center;
}

.movistar-modal .movistar-modal_form input {
    font-size: 18px;
    font-family: Telefonica_Light, TelefonicaWeb-Light, Arial;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    opacity: 1;
    z-index: auto;
}

.movistar-modal .movistar-modal_form input[type=text] {
    font-size: 18px;
}

.movistar-modal .movistar-modal_form input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.movistar-modal .movistar-modal_form input::placeholder {
    font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
}

.movistar-modal .movistar-modal_form button {
    font: 22px Telefonica_Light, TelefonicaWeb-Light, Arial;
    width: 100%;
    list-style: none;
    display: block;
    background-color: #5ac2ff !important;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.movistar-modal form.movistar-modal_formlater {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.movistar-modal .movistar-modal_formlater_column {
    width: calc(50% - 10px);
}

.movistar-modal .movistar-modal_later {
    font: 16px Telefonica_Light, TelefonicaWeb-Light, Arial;
    border: 0;
    background-color: transparent;
    color: #4a4a4a;
    text-decoration: underline;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.movistar-modal .movistar-modal_later:hover {
    color: #989ca0 !important;
    text-decoration: underline !important;
}

.movistar-modal .movistar-modal_seccion {
    text-align: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px 50px;
    width: 100%;
    max-width: 750px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all .1s ease-in-out;
}

.movistar-modal .movistar-modal_seccion .loader-spinner {
    display: inline-block;
    margin-bottom: 15px;
}

.movistar-modal .movistar-modal_seccion .loader-spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #00a9e0;
    border-color: #00a9e0 transparent #00a9e0 transparent;
    animation: loader-spinner 1.2s linear infinite;
}

.movistar-modal .movistar-modal_close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 9;
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
}

.movistar-modal .movistar-modal_close .close-icon {
    height: 32px;
    width: 32px;
    border-radius: 14px;
    border: 2px solid #000;
    position: relative;
}

.movistar-modal .movistar-modal_close .close-icon::after,
.movistar-modal .movistar-modal_close .close-icon::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    left: calc(50% - 10px);
    top: 13px;
}

.movistar-modal .movistar-modal_close .close-icon::before {
    transform: rotate(-45deg);
}

.movistar-modal .movistar-modal_close .close-icon::after {
    transform: rotate(45deg);
}

.movistar-modal .movistar-modal_close:hover {
    opacity: 1;
}

.movistar-modal .movistar-modal_header {
    text-align: center;
}

.movistar-modal .movistar-modal_header h2 {
    font: 32px Telefonica_Light, TelefonicaWeb-Light, Arial;
    color: #1d1d1d;
    margin-bottom: 15px;
}

.movistar-modal .movistar-modal_header p {
    font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
    color: #000;
    text-transform: none;
    margin-bottom: 15px;
}

.movistar-modal .movistar-modal_body {
    text-align: center;
}

.movistar-modal .movistar-modal_slideDown {
    margin-top: 0;
    transition: all .3s ease-in-out;
}

.movistar-modal .movistar-modal_list {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.movistar-modal .movistar-modal_list li {
    margin: 5px;
}

.movistar-modal .movistar-modal_imglist {
    max-width: 40px;
    width: 100%;
    margin-right: 15px;
    height: 40px;
}

.movistar-modal .movistar-modal_button {
    cursor: pointer;
    font: 25px Telefonica_Light, TelefonicaWeb-Light, Arial;
    background-color: #5ac2ff !important;
    padding: 15px 50px;
    border-radius: 4px;
    color: #fff;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movistar-modal_hidden {
    visibility: hidden;
    opacity: 0;
}

span.error {
    box-sizing: border-box;
    font: 13px Telefonica, TelefonicaWeb, Arial;
    color: red;
    float: left;
    margin-top: -10px;
    margin-bottom: 5px;
}

@media all and (max-width: 768px) {
    .desktopo {
        bottom: 100px;
    }

    .movistar-modal {
        align-items: flex-start;
        padding: 5px;
    }

    .movistar-modal .movistar-modal_seccion {
        padding: 15px;
    }

    .movistar-modal .movistar-modal_header h2 {
        font: 22px Telefonica_Light, TelefonicaWeb-Light, Arial;
    }

    .movistar-modal .movistar-modal_header p {
        font: 14px Telefonica_Light, TelefonicaWeb-Light, Arial;
        margin-bottom: 10px;
    }

    .movistar-modal .movistar-modal_button {
        padding: 15px;
        font-size: 18px;
        width: 100%;
    }

    .movistar-modal .movistar-modal_form button {
        font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
        margin-bottom: 10px;
        padding: 15px;
    }

    .movistar-modal .movistar-modal_list {
        flex-flow: column;
    }

    .movistar-modal .movistar-modal_imglist {
        max-width: 30px;
    }

    .movistar-modal .movistar-modal_form {
        width: 100%;
    }

    .movistar-modal .movistar-modal_formlater {
        flex-flow: column;
    }

    .movistar-modal .movistar-modal_formlater_column {
        width: 100%;
    }
}

.inputCalendar {
    cursor: pointer;
}

#btn-nocturnoDropdownHorario {
    cursor: pointer;
}

.movistar-dropdown {
    position: relative;
}

.movistar-dropdown-menu {
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 0;
    margin: -15px 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
}

.movistar-dropdown-menu li {
    font-family: Telefonica, TelefonicaWeb, Arial;
    text-align: center;
    padding: 5px 20px;
    color: #333;
}

.movistar-dropdown-menu li:hover {
    background-color: #989ca0;
    background-size: cover;
    color: #f6f7f9;
}

.movistar-dropdown_on {
    display: block;
}

.movistar-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    right: 30px;
    top: 30px;
}

.movistar-modal_render {
    display: block !important;
}

#atentionDate,
#todayDate {
    font: 18px Telefonica_Light, TelefonicaWeb-Light, Arial;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #ccc;
    background-color: #fff;
    color: #7d7d7d;
}

.movistar-modal select:focus {
    border-color: rgba(82, 168, 236, 0.8) !important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
}

.movistar-modal select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 5px bottom 50%;
    background-repeat: no-repeat;
    background-image: url(../img/topo/icon-arrow.svg);
    background-size: 15px;
}

@media all and (max-width: 768px) {
    .desktopo_out {
        display: none;
    }

    .mobtopo {
        display: block;
    }

    .movistar-modal {
        align-items: flex-start;
        padding: 5px;
    }

    .movistar-modal .movistar-modal_seccion {
        padding: 15px;
    }

    .movistar-modal .movistar-modal_header h2 {
        font: 22px Telefonica_Light, TelefonicaWeb-Light;
    }

    .movistar-modal .movistar-modal_header p {
        font: 14px Telefonica_Light, TelefonicaWeb-Light;
        margin-bottom: 10px;
    }

    .movistar-modal .movistar-modal_button {
        padding: 15px;
        font-size: 18px;
        width: 100%;
    }

    .movistar-modal .movistar-modal_form button {
        font: 18px Telefonica_Light, TelefonicaWeb-Light;
        margin-bottom: 10px;
        padding: 15px;
    }

    .movistar-modal .movistar-modal_list {
        flex-flow: column;
    }

    .movistar-modal .movistar-modal_imglist {
        max-width: 30px;
        height: 30px;
    }

    .movistar-modal .movistar-modal_form {
        width: 100%;
    }

    .movistar-modal .movistar-modal_formlater {
        flex-flow: column;
    }

    .movistar-modal .movistar-modal_formlater_column {
        width: 100%;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(72, 169, 16, 0.8);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(72, 169, 16, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(72, 169, 16, 0);
    }
}

@keyframes loader-spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}